svg{
    display: none;
}
header{
    background: url("/Assets/view_of_lake_nemi_1994.52.2.jpg");
    transform: scaleX(-1);
    background-size: 100%;
    height: 45vh;
    background-repeat: none;
    background-position: 0 -100px;
}
header h1{
    font-family:$heading-font ;
    font-size: 5em;
}
header h2{
    font-family:$core-font ;
}
header p a{
    text-decoration: none;
    color: $color-primary;
}
header a:not(p a) {
    background-color: $color-primary;
    padding: .8em;
    margin-left: 3em;
    color: $color-background;
    font-family: $accent-font;
    border-radius: 2px;
    text-decoration:none ;
}
header .container{
    float: right;
    transform: scaleX(-1);
}
ul{
    list-style: none;
}